<div  class="bg-gray-100 rounded-lg px-3 py-3 column-width rounded mr-4">
    <p class="mb-2 text-gray-700 font-semibold font-sans tracking-wide">List 1</p>
        <draggable
            tag="ul"
            group="all-users"
            class="draggable-list"
            ghost-class="moving-card"
            filter=".action-button"
            :list="users"
            :animation="200"
        >
        <user-card
            v-for="user in users"
            :user="user"
            :key="user.id"
            @on-edit="onEdit"
            @on-delete="onDelete"
            ></user-card>
    </draggable>
</div>

<div class="bg-gray-100 rounded-lg px-3 py-3 column-width rounded mr-4">
<p class="mb-2 text-gray-700 font-semibold font-sans tracking-wide">List 2</p>
<draggable
    tag="ul"
    group="all-users"
    class="draggable-list"
    ghost-class="moving-card"
    filter=".action-button"
    :list="newUsers"
    :animation="200"
>
    <user-card
    v-for="user in newUsers"
    :user="user"
    :key="user.id"
    @on-edit="onEdit"
    @on-delete="onDelete"
    ></user-card>
</draggable>
</div>
